**/.ipynb_checkpoints
**/__pycache__
*.pyc
*.pyo
*.png
*.mp4
*.jpg
*.JPG
*.npy
*.npz
*.dae
*.tar
*.pth
*.pt
*.onnx
*.trt
.DS_Store
.idea/
.vscode/
.codex
.codex/
data/*
logs/*
logs_minmax/*
logs_epi/*
logs_*/
logs_release/*
logs_trt/*
pretrained_depths/*
data
